body {
    margin: 0;
    font-family: "Arial, sans-serif";
    background-blend-mode: color;
    /* background-image: url(https://www.edmissions.com/media/upload/blog/134._List_Of_9_Demanding_Jobs_In_UK_For_2023_vQ17LPL.png) */
    
  }
  a {
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
  .signup {
    display:block;
    justify-content:center;
    align-items: center;
    height: 130vh;
    background-color: bisque;
    overflow: hidden;
    background-image: url(https://previews.123rf.com/images/ylivdesign/ylivdesign1708/ylivdesign170818742/84115316-good-job-icons-set-simple-style-of-36-good-job-vector-icons-for-web-isolated-on-white-background.jpg)
    
  }
  .signup-container {
    display: flex;
    width: 80%;
    length: 50%;
    border: 1px solid blanchedalmond;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: blanchedalmond;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  .signup-information {
    flex: 1;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    overflow:auto;
    border: hidden;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
  }
  .signup-form-container {
    background: pink;
    length: 50%;
    width: fit-content;
  }
  .signup-information p {
    font-size: 50px;
    font-weight: 700;
    color: goldenrod;
    
  }
  .background-circle {
    width: 600px;
    height: 900px;
    margin: 40px auto;
    overflow: fit-content;
    border-top-right-radius: 30px;
  }

  .signup-checkupbox-label {
    text-align:right;
  }

  
  
  
  /* .jobs-image {
    width: 200%;
    height: 150%;
    object-fit:cover;
  } */
  .signup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .signup-header h2 {
    display: flex;
    align-items: center;
    color: mediumslateblue;
  }
  .jobs-logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  label {
    margin-bottom: 5px;
  }
  input[type="text"],
  input[type="email"],
  input[type="phonenumber"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .signup-checkbox-label {
    font-size: 15px;
  }
  .forgot-password {
    text-align: end;
    margin: 0;
  }
  .signup-form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .signup-btn {
    padding: 10px 20px;
    background-color: lightcoral;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.9);
  }
  .signup-btn:hover {
    background-color: black;
    color: #007BFF;
  }
  /* .signup-with-google {
    padding: 10px 20px;
    background-color: dimgray;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgb(35, 35, 39);
  } */
  .signup-with-google:hover {
    background-color: black;
    color: dimgray;
  }
  .you-have-an-account {
    margin-top: 40px !important;
    font-size: 16px;
  }
  .error-message {
    color: #DC3545;
    font-size: 14px;
  }
  .signup-content-container {
    display: flex;
  }
  .login-information {
    flex: 1;
    padding: 20px;
    background-color: #007BFF;
    overflow: hidden;
    border: hidden;
  }
  .signup-form-container {
    flex: 1;
    padding: 40px;
  }