


  /* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
  }
  
  .user-details {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .greeting {
    margin-bottom: 20px;
  }
  
  .sidebar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-link {
    margin-bottom: 10px;
  }
  
  .sidebar-link a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .sidebar-link a:hover {
    color: #007bff;
  }
  
  /* Move the logout button to the bottom */
  .logout-button {
    margin-top: auto;
  }
  
  .logout-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .logout-button:hover {
    background-color: #0056b3;
  }
  
  /* Stats Page */
  .stats-page {
    display: flex;
    padding: 20px;
    position: relative; /* Needed for z-index to work */
  }
  
  /* Stats Container */
  .stats-container {
    display: flex;
    flex-wrap: wrap; /* Allow charts to wrap on smaller screens */
    flex-grow: 1; /* Expand to take available space */
    margin-right: 20px; /* Create space between sidebar and stats */
  }
  
  /* Individual Chart */
  .chart {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Create space between charts */
  }
  
  .chart h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  /* Interview Stats */
  .chart p {
    margin: 5px 0;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .chart {
      width: 100%;
      margin-bottom: 20px;
    }
    .stats-page {
      flex-direction: column;
    }
    .stats-container {
      margin-right: 0;
    }
    .chart {
      margin: 0;
    }
  }
  